esphome:
  name: esp32-bluetooth-proxy-a74634
  name_add_mac_suffix: false
  friendly_name: Bluetooth Proxy a74634

esp32:
  board: esp32dev
  framework:
    type: esp-idf

api:  

logger:

ota:
  - platform: esphome
    id: ota_esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

esp32_ble_tracker:
  scan_parameters:
    # We currently use the defaults to ensure Bluetooth
    # can co-exist with WiFi In the future we may be able to
    # enable the built-in coexistence logic in ESP-IDF
    active: true

bluetooth_proxy:
  active: true